$color-white: #ffffff;
$color-off-white: #ccc;
$color-black: #2e2e2e;
$color-primary: orange;
$color-navy: navy;
$color-secondary: #DA9100; // Harvest Gold
$color-primary-hover: #00bcd4;

// Fonts
$font-primary: 'Abel', 'NewsCycle', 'sans-serif', 'Segoe UI', 'Roboto';
$font-secondary: 'Montserrat', 'Zen Dots', 'M PLUS 1 Code', sans-serif;