@use "../../styles/variables" as *;

.about {
    &__content {
        display: flex;
        margin-top: 1rem;
        width: 100%; 
        background-color: rgba(255, 255, 255, 0.1); 
        border-radius: 10px; 
        min-width: 200px; 
    }

    &__item{
        font-size: 1.3rem;
        flex: 1 1 25%; 
        padding: 1rem;
    }
}

// Optional media queries for adjustments on smaller screens
@media (max-width: 768px) {
    .about__content p {
        flex: 1 1 45%; 
    }
}

@media (max-width: 480px) {
    .about__content p {
        flex: 1 1 100%; 
    }
}
