@use "../../styles/variables" as *;

.home {
    display: flex; 
    height: 100vh; 
}

.nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 20rem; 
    height: 100vh; 
    z-index: 1000; 
    // border: 0.3rem solid $color-black;  // Add a black border here
    // border-radius: 0.5rem;
    // box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // Optional shadow for depth
}

.profile {
    flex-grow: 1;
    margin-left: 23rem; 
    height: 100vh; 
    margin-right:3rem;
    // overflow-y: auto; // Enable scrolling only for the content area
}


@media (max-width: 768px) {
    .home {
        flex-direction: column;
    }

    .nav {
        position: relative;
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 0;
        height: auto;
    }
}

.landing-container.fade-out {
    animation: fadeOut 3s forwards; 
}

@keyframes fadeOut {
    0% { opacity: 1; }  
    100% { opacity: 0; } 
}

