@use "../styles/variables" as *;

.home,
.digital {
    display: flex; 
    height: 100vh; 
}

.nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 20rem; 
    height: 100vh; 
    z-index: 1000; 
    opacity: 0; // Start hidden
    animation: fadeInNav 3s forwards;
    background-color: rgba(0, 0, 0, 0.6); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);

    &.no-animation {
      animation: none;
      opacity:1; 
  }
    // border: 0.3rem solid $color-black;  // Add a black border here
    // border-radius: 0.5rem;
    // box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // Optional shadow for depth
}

.profile {
    flex-grow: 1;
    margin-left: 23rem; 
    height: 100vh; 
    margin-right:3rem;
    display: flex;
    flex-direction: column;
    //overflow-y: auto; // Enable scrolling only for the content area
}


@media (max-width: 768px) {
    .home {
        flex-direction: column;
    }

    .nav {
        position: relative;
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 0;
        height: auto;
    }
}

.landing-container.fade-out {
    animation: fadeOut 3s forwards; 
}

@keyframes fadeOut {
    0% { opacity: 1; }  
    100% { opacity: 0; } 
}

@keyframes fadeInNav {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-content {
    opacity: 0; // Initially hidden
    transform: translateY(-30px); // Initially shifted upwards
    animation: fadeInFromTop 3s ease forwards; // Fade and slide down over 2 seconds
  
    @keyframes fadeInFromTop {
      0% {
        opacity: 0;
        transform: translateY(-30px); // Start 30px higher than its normal position
      }
      100% {
        opacity: 1;
        transform: translateY(0); // End in its normal position
      }
    }
  }

  .footer {
    position: fixed;
    bottom: -10rem;
    right: 0;
    width: 20rem; 
    height: 100vh; 
    z-index: 1000;
    //opacity: 0; // Start hidden
    //animation: fadeInFooter 3s forwards;
    background-color: rgba(0, 0, 0, 0.6); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
    animation: slideUp 4s forwards
}

@keyframes fadeInFooter {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes slideUp {
  0% {
      bottom: -5rem; /* Start below the screen */
      opacity: 0;
  }
  100% {
      bottom: 0; /* Slide up to the bottom of the screen */
      opacity: 1;
  }
}

// Mobile responsive adjustments
@media (max-width: 768px) {
    .footer {
        width: 100%;
        height: auto;
        clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
    }
}