@use "../../styles/variables" as *;
 
 .content {
    display: flex;
    flex-direction: column;
    //margin-top: 4rem;
    margin-bottom: 3rem;
    padding:3rem;
    background-color: rgba(0, 0, 0, 0.4); // Dark transparent background
    border-radius: 10px; // Optional: Rounded corners
    backdrop-filter: blur(10px); // Apply the blur for the frosted effect
    -webkit-backdrop-filter: blur(10px); // For Safari support
    border: 1px solid rgba(255, 255, 255, 0.2); // Subtle border to define edges
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); // Slight shadow for depth
}

.where {
    display: flex;
    flex-direction: column;
}


//     margin-top: 4rem;
//     background-color: rgba(255, 255, 255, 0.1); // Light transparent background
//     border-radius: 10px; // Optional: Rounded corners
//     backdrop-filter: blur(10px); // Apply the blur for the frosted effect
//     -webkit-backdrop-filter: blur(10px); // For Safari support
//     //border: 1px solid rgba(255, 255, 255, 0.3); // Optional: subtle border for depth
//     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Optional: slight shadow for elevation
// }
    // background-color: $color-black;
    // border-radius: 10px; // Optional: Rounded corners
