@use "../../styles/variables" as *;
 
 .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    padding:3rem;
    background-color: rgba(0, 0, 0, 0.6); // Dark transparent background
    border-radius: 10px; // Optional: Rounded corners
    backdrop-filter: blur(1px); // Apply the blur for the frosted effect
    -webkit-backdrop-filter: blur(10px); // For Safari support
    border: 1px solid rgba(255, 255, 255, 0.2); // Subtle border to define edges
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); // Slight shadow for depth
    
}

.digital__projects-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line if there are more projects */
    justify-content: space-around; /* Adjust space between the projects */
}

