@use "../../styles/variables" as *;

.organisation-card {
  width: 19rem;
  height: 10rem;
  padding: 1rem;
  box-shadow: 0 0.325rem 0.3rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  text-decoration: none !important;
   position: relative;

  &__content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  &__location {
    margin-bottom: 0.15rem;
    color: $color-secondary;
    text-align: end;
  }

  &__tagline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; // Aligns text to the left by default
  }
  
  &__tagline {
    text-align: right; // Aligns text to the left within each line
    word-wrap: break-word; // Ensures words break properly to wrap lines
  }


  // &__tagline {
  //   text-align: end;
  //   margin-top: auto; 
    
  // }

  &__icon {
    position: absolute;
    bottom: 7px; 
    left: 7px; 
    cursor: pointer;
    font-size: 0.6rem;
    color: $color-white;
  }

  &--back {
    &__job-title {
      color: $color-secondary;
    }
    
  }
}



    // &__skills-tags {
    //   display: flex;
    //   flex-wrap: wrap;
    //   gap: 0.5rem;
    //   margin-top: 0.5rem;

    //   .skill-tag {
    //     background-color: $color-primary;
    //     color: $color-white;
    //     padding: 0.2rem 0.4rem;
    //     border-radius: 0.3rem;
    //     font-size: 0.8rem;
    //   }
    // }

    // background-color: rgba(255, 255, 255, 0.08);
    // backdrop-filter: blur(15px);
    // -webkit-backdrop-filter: blur(15px);
    // text-decoration: none !important;


    // &__name {
    //   text-align: end;
    // }

    // &__job-title {
    //   color: $color-white;
      
    // }

       // background-color: rgba(255, 255, 255, 0.08);
    // backdrop-filter: blur(15px);
    // -webkit-backdrop-filter: blur(15px);
    // text-decoration: none !important;


    // &__name {
    //   text-align: end;
    // }

    // &__job-title {
    //   color: $color-white;
      
    // }