@use "../../styles/variables" as *;

.where {
    &__content {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
        padding: 1rem;
        justify-content: center; // Centers the grid items horizontally
        align-content: start;
    }
}

// -container {
//         display: flex;
//         flex-wrap: wrap; /* Allows cards to wrap to the next line */
//         justify-content: space-around; /* Space out the cards evenly */
//         padding: 2rem; /* Padding around the container */
//       }
      //..............................
//   display: grid;
//   width: 100%;
//   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//   gap: 1rem;
//   padding: 1rem;
//   justify-content: center; // Centers the grid items horizontally
//   align-content: start;    // Aligns the grid items at the start vertically

//   @media (min-width: 1200px) {
//     grid-template-columns: repeat(4, 1fr);
//   }

//   @media (min-width: 992px) and (max-width: 1199px) {
//     grid-template-columns: repeat(3, 1fr);
//   }

//   @media (min-width: 768px) and (max-width: 991px) {
//     grid-template-columns: repeat(2, 1fr);
//   }

//   @media (max-width: 767px) {
//     grid-template-columns: 1fr;
//   }
//}