@use "../../styles/variables" as *;

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    // &.no-animation {
    //     animation: none; // Disable animation for Digital page
    // }

    &__name {
        padding: 0rem;
        margin-top: 3rem;        
        }

    &__image-container {
        padding: 1rem;
        //margin-top:1rem;
    }
        
    &__image {
        width: 10rem;
        height: 10rem; // Ensure it's a square
        object-fit: cover; // Cover ensures the image fills the container without distortion
        filter: blur(0.1rem);
        opacity: 0.8;
        border-radius: 50%; // Makes the image circular
        border: 0.1rem solid white; // Optional border to frame the circle
        mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 80%);
         -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 85%);

    }

    &__item-container {
        padding: 0 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;   
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    a {
        color: $color-white;
        font-family: $font-primary;
        font-size: 1.5rem;
        text-decoration: none; 
        transition: color 0.3s ease;
        padding: 0.1rem;

        &:hover {
            color: #00bcd4; 
        }
    }
}
